/* global css section */
*{
	margin: 0;
	padding: 0;
}

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/*header section css*/

header{
	width: 100%;
	background-color: #000;
}
.nav-link{
	color: #b0b0b0 !important;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	margin-left: 40px;
	position: relative;
}
.nav-link::before{
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: #ff9b51;
    transition: 0.4s;
}
.nav-link:hover::before{
	width: 100%;
	transition: 0.4s;
}
.nav-link::after{
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0%;
    background: #ff9b51;
    transition: 0.4s;
}
.nav-link:hover::after{
	width: 100%;
	transition: 0.4s;
}
.sticky{
	position: fixed;
	width: 100%;
	z-index: 9999;
	background: rgba(0,0,0,0.65);
}

/*banner section css*/

.banner{
	width: 100%;
	background-image: url(../img/banner.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.left{
    height: 90vh;
    display: table-cell;
    vertical-align: middle;
}
.b-title{
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	font-weight: 400;
	margin: 32px 0px;
	width: 85%;
}
.line{
	height: 3px;
	width: 60px;
	background-color: #ffffff;
    margin: 35px 0px;
}
.b-sub{
	color: #96969a;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 300;
    width: 80%;
}
.b-btn{
	background: transparent;
    color: #f5f5f5;
    border: 1px solid #f5f5f5;
    padding: 10px 32px;
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 600;
    margin-top: 25px;
    position: relative;
    z-index: 2;
}
.b-btn::before{
	content: '';
	position: absolute;
	height: 0;
	width: 100%;
	background: #ff9b51;
	z-index: -2;
	transition: .4s;
	left: 0;
	bottom: 0;
}
.b-btn:hover::before{
	height: 100%;
	transition: .4s;
}
.right{
    height: 90vh;
    display: table-cell;
    vertical-align: middle;
}
.right .card{
    margin-left: 250px;
    text-align: center;
    border: none;
}
.right .card-header h3{
	font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #363636;
}
.right .card-header h3 span{
	color: #ff9b51;
	text-transform: uppercase;
}
.right .form-control{
	margin-bottom: 32px;
	border: none;
	border-bottom: 1px solid #c9c9c9;
	border-radius: 0;
}
.rightt::placeholder{
	color: #c9c9c9;
}
.right .card-header{
	padding: 1rem 3rem;
}
.right .form-btn{
    display: block;
    padding: 8px;
    width: 100%;
    background: transparent;
    border: none;
    color: #ffffff;
}
.right .card-footer{
	background: #ff9b51;
}

/*social-media section css*/

.social-media{
	width: 100%;
	padding: 22px 0px;
}
.icon{
	padding: 10px;
}
.social-media h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 20px;
	color: #333333;
}
.social-media p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #86878b;
}
.social-media ul{
	text-align: right;
}
.social-media ul li{
	display: inline-block;
	list-style: none;
	margin-left: 45px;
}
.social-media ul li a i{
	color: #cccccc;
	font-size: 48px;
}
.wifi{
	transform: rotate(45deg);
}

/*feature-1 section css*/

.feature-1{
	width: 100%;
	padding: 100px 0px;
	background: #f5f5f5;
}
.feature-1 ul li{
	list-style: none;
	border-bottom: 1px solid #f5f5f5;
	width: 115px;
	height: 112px;
	line-height: 112px;
	text-align: center;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 15px;
}
.feature-1 ul li:hover{
	background: #ff8b38;
}
.selected{
	background: #ff8b38 !important;
}
.default{
	background: #333333;
}
.tab-1{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.tab-3{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.feature-1 h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 20px;
	color: #000000;
}
.feature-1 p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #86878b;
	width: 80%;
}
.feature-1 button{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
	color: #fff;
	background: #ff8b38;
	border: none;
	border-radius: 5px;
	padding: 12px 25px;
}

/*sub-list section css*/

.sub-list{
	width: 100%;
	padding: 120px 0px;
}
.line-2{
	height: 3px;
	width: 80px;
	background-color: #ff8b38;
    margin: 35px 0px;
}
.sub-list h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 25px;
	color: #212121;
}
.sub-list p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #86878b;
	width: 80%;
}
.top h6{
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #212121;
}
.bottom h6{
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #212121;
}
.para{
	margin-left: 70px;
}

/*standard section css*/

.standard{
	width: 100%;
	padding: 120px 0px;
	background: #f5f5f5;
}
.line-3{
	height: 3px;
	width: 80px;
	background-color: #ff8b38;
    margin: 35px 0px;
}
.standard h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 25px;
	color: #212121;
}
.standard p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #86878b;
	width: 70%;
}

/*why this section css*/

.awesome{
	width: 100%;
	padding: 110px 0px;
	text-align: center;
}
.line-4{
	height: 3px;
	width: 80px;
	background-color: #ff8b38;
    margin: 35px 0px;
    margin: 0 auto;
}
.up{
	margin-bottom: 85px;
}
.up h1{
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
	font-weight: 400;
	color: #212121;
	text-transform: uppercase;
}
.up p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #86878b;
}
.awesome h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 22px;
	color: #212121;
}
.awesome p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #86878b;
}

/*pricing section css*/

.pricing{
	width: 100%;
	background: #f5f5f5;
	padding: 110px 0;
}
.upper{
	text-align: center;
	margin-bottom: 100px;
}
.upper h1{
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
	font-weight: 400;
	color: #212121;
	text-transform: uppercase;
	margin-bottom: 22px;
}
.upper p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #86878b;
	margin-top: 25px;
}
.line-5{
	height: 3px;
	width: 80px;
	background-color: #ff8b38;
    margin: 35px 0px;
    margin: 0 auto;
}
.pricing .table .table-head{
	background: #333333;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid white;
}
.pricing .table .table-head h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 20px 24px;
	color: #ffffff;
}
.pricing .table .table-body{
	background: #333333;
    color: #ffffff;
    text-align: center;
    padding: 42px 24px;
    border-bottom: 4px solid #ff8b38;
}
.pricing .table .table-body h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #ffffff;
	font-size: 85px;
}
.pricing .table .table-body h1 span{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #ffffff;
	font-size: 30px;
}
.pricing .table .table-body span{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #86878b;
	font-style: italic;
}
.pricing .table .table-footer{
	background: white;
    color: #86878b;
    text-align: center;
    text-transform: uppercase;
}
.pricing .table .table-footer ul{
	margin: 0;
	padding: 0;
}
.pricing .table .table-footer ul li{
	list-style: none;
	border-bottom: 1px solid #ececec;
}
.pricing .table .table-footer ul li:nth-child(6){
	border-bottom: none;
}
.middle .table-body{
	padding: 0 !important;
}
.popular{
	background: #ff8b38;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 16px;
}
.popular p{
	margin: 0;
	padding: 0;
}
.middle-body{
	padding: 42px 24px;
}
.items{
	align-items: flex-end;
}

/*feedback section css*/

.feedback{
	width: 100%;
	padding: 110px 0;
}
.upper-2{
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}
.upper-2 h1{
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
	font-weight: 400;
	color: #212121;
	text-transform: uppercase;
	margin-bottom: 22px;
}
.upper-2 p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #86878b;
	margin-top: 25px;
}
.line-6{
	height: 3px;
	width: 80px;
	background-color: #ff8b38;
    margin: 35px 0px;
    margin: 0 auto;
}
.comment-box{
	background: #f5f5f5;
	padding: 28px 32px;
	border-radius: 5px;
	position: relative;
	margin-right: 86px;
}
.comment-box p{
	margin: 0;
}
.mini-box{
	background: #f5f5f5;
	position: absolute;
	bottom: -20px;
	left: 60px;
	height: 40px;
	width: 40px;
	transform: rotate(45deg);
}
.comment-user{
	text-align: justify;
    margin-left: 45px;
    margin-top: 36px;
}

/*custom section css*/

.custom{
	width: 100%;
    background-image: url(../img/banner-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-style{
	text-align: center;
	padding: 120px 0px;
}
.custom-style h1{
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 22px;
}
.custom-style p{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #86878b;
	margin-top: 25px;
}
.line-7{
	height: 3px;
	width: 70px;
	background-color: #fff;
    margin: 35px 0px;
    margin: 0 auto;
}

/*contact section css*/

.contact{
	width: 100%;
	padding: 100px 0px;
}
.contact-left{
	margin-right: 10px;
}
.contact-right{
	margin-left: 20px;
}
.contact-left .card{
    border: none;
}
.contact-left .form-control{
	border: none;
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 15px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	border-radius: unset;
}
.contact-right .form-control{
	border: none;
    border-bottom: 1px solid #c9c9c9;
    padding: 32px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	border-radius: unset;
}
.custom-btn{
	text-align: center;
    margin-top: 15px;
}
.c-btn{
	background: #ff9b51;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
	border: none;
	padding: 12px 22px;
    color: #fff;
    border-radius: 5px;
}

/*footer section css*/

.footer{
	width: 100%;
	padding: 25px 0px;
	background: #000000;
}
.footer-icon{
	text-align: center;
}
.footer-icon ul{
	padding-left: 0;
}
.footer-icon ul li{
	list-style: none;
	display: inline-block;
	margin-left: 28px;
}
.footer-icon ul li:nth-child(1){
	margin-left: 0;
}
.footer-icon ul li a i{
	color: #cccccc;
	font-size: 28px;
}
.footer-icon p{
	color: #86878b;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	margin-bottom: 0px;
}